/* ================================
   Footer
================================ */

footer {
    position: relative;
    width: 100%;
    padding: 50px 100px;
    background: #111;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

footer .container-footer {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

footer .container-footer .sec-footer {
    margin-right: 30px;
}

footer .container-footer .sec-footer.about-us-footer {
    width: 40%;
}

footer .container-footer h2 {
    position: relative;
    color: #fff;
    font-weight: 500;
    margin-bottom: 15px;
}

footer .container-footer h2::before {
    content: '';
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 50px;
    height: 2px;
    background: #f00;
}

footer p {
    color: #999;
}


/* Social icons */

.sci-footer {
    margin-top: 20px;
    display: flex;
}

.sci-footer li {
    list-style: none;
}

.sci-footer li a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: #222;
    margin-right: 10px;
    text-decoration: none;
    border-radius: 4px;
    color: #fff;
    font-size: 20px;
}

.sci-footer li a:hover {
    background: #f00;
}

a {
    color: #fff;
    text-decoration: none;
}

a:hover {
    color: #fff;
}


/* Quick links */

.quickLinks-footer {
    width: 25%;
}

.quickLinks-footer ul li {
    list-style: none;
}

.quickLinks-footer ul li a {
    color: #999;
    text-decoration: none;
    margin-bottom: 10px;
    display: inline-block;
}

.quickLinks-footer ul li a:hover {
    color: #fff;
}


/* Contact section */

.contact-footer {
    width: calc(35% - 60px);
    margin-right: 0 !important;
}

.contact-footer .info-footer li {
    display: flex;
    margin-bottom: 16px;
}

.contact-footer .info-footer li span:nth-child(1) {
    color: #fff;
    font-size: 20px;
    margin-right: 10px;
}

.contact-footer .info-footer li span {
    color: #999;
}

.contact-footer .info-footer li a {
    color: #999;
}

.contact-footer .info-footer li a:hover {
    color: #fff;
}


/* Copyright */

.copyrightText {
    width: 100%;
    background: #181818;
    padding: 8px 100px;
    text-align: center;
    color: #999;
}


/* ================================
   Media Queries
================================ */

@media (max-width: 991px) {
    footer {
        padding: 40px;
    }
    footer .container-footer {
        flex-direction: column;
    }
    footer .container-footer .sec-footer {
        margin-right: 0;
        margin-bottom: 40px;
    }
    footer .container-footer .sec-footer.about-us-footer,
    .quickLinks-footer,
    .contact-footer {
        width: 100%;
    }
    .copyrightText {
        padding: 8px 40px;
    }
}