/* ================================
   Reset et styles globaux
================================ */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: #fff;
    color: #333;
    line-height: 1.6;
}


/* Titres globaux */

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 500;
    margin-bottom: 15px;
}


/* Liens globaux */

a {
    text-decoration: none;
    /* Ne pas mettre de couleur ici pour éviter de surcharger nav ou section */
}


/* Images */

img {
    max-width: 100%;
    display: block;
}